/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{	
    height: 100%;
    padding: 0;
	margin: 0;    
	border: none;
	background-color: #ffffff;  
	font-family:  Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
	font-size: 16px;  
}
.amGe {
    font-family: Sylfaen, Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
}
input[type="submit"]::-moz-focus-inner, /*for FireFox*/
input[type="button"]::-moz-focus-inner, /*for FireFox*/
button::-moz-focus-inner /*for FireFox*/
{   
    border : 0px; /* remove dotted outline on buttons */
} 
input[type="submit"]:focus, /*for IE */
input[type="button"]:focus, /*for IE */
input[type="submit"]:active, /*for IE */
input[type="button"]:active, /*for IE */
button:focus, /*for IE */
button:active, /*for IE */
a
{     
    outline : none; /* remove dotted outline on buttons */
}

html.busy, html.busy * {  
  cursor: wait !important;  
}
table
{
    padding: 0;
    margin: 0;    
	border: none;
}
table td 
{
    padding: 2px;     
}
.content
{    
    min-width: 1024px; 
    min-height: 768px; 
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */   	
	background: #fff;
	background: url(/Content/Images/login_page_bg.png) repeat-x #eef2f7; 
}
.contentData {
    min-width: 1024px; 
	max-width: 1024px; 
    min-height: 768px; 
    margin: 0 auto;
    vertical-align: middle;
    background: #fff;
	background: url(/Content/Images/login_page_bg.png) repeat-x #eef2f7; 
}
.errorMessage
{
    margin-bottom: 15px;
    padding: 7px 10px;
    font-size: 12px;
    background-color: #edcdcb;
    border: solid #ec6b70 1px;
    border-radius: 6px;
    display: none;
    color: #181b1f;
    width: 287px;
    max-width: 287px;
}
.successMessage {
    padding: 7px 10px;
    font-size: 12px;
    background-color: #edf1de;
    border: solid #2dcb83 1px;
    border-radius: 6px;
    color: #181b1f;
    width: 287px;
    max-width: 287px;
}
.footer
{
    height: 100%;
    min-height: 100%;
    line-height: normal;
    padding: 5px 0;    
    margin: 0;    
	color: #999;    
    font-size: 10px;
}
.header
{
    width: 100%;
    text-align:center;
    background: url(/Content/Images/header_bg.png) repeat-x; 
}
.headerImg
{
    min-width: 1024px; 
	max-width: 1024px; 
    margin: 0 auto;
}
.invisible
{
    display: none;
}
.page
{      
	min-width: 1024px; 
	max-width: 1024px; 
    min-height: 768px; 
    max-height: 768px; 
    margin: 0 auto;
}
.siteInfo
{
    width: 100%;    
    vertical-align: top; 
    text-align: center;  
    margin-bottom: 20px;
    padding: 0px;
    
    font-size: 12px;    
}
.siteInfo td
{
    width: 20%;  
    padding: 0px 2px;  
}
.versionLabel
{
    position: absolute;   
    top: 165px;
    left: 32px;     
    color: #2751a6;   
    font-size: 12px;     
}
.changePasswordLink 
{
    text-align: right;
    font-size: 12px;
    color: #3f6faf;
}
.login 
{
    padding-top: 140px;
    padding-left: 150px;
}
.timeout
{
    padding-top: 140px;
    padding-left: 150px;
    padding-right: 150px;
}
.changePasswordPanel 
{
    padding-top: 135px;
    padding-left: 170px;
}
.loginLabel 
{
    min-width: 220px;
    max-width: 220px;
    text-align: right;
    padding-right: 23px;
    word-break: break-all;
    font-size: 16px;
    color: #181b1f;
}
.changePasswordLabel 
{
    min-width: 240px;
    max-width: 240px;
    text-align: right;
    padding-right: 23px;
    word-break: break-all;
    font-size: 16px;
    color: #181b1f;
}
.loginField
{
    min-width: 310px;
    width: 310px;  
}
.k-textbox {
    width: 100%;
}
.loginButtons 
{
    padding-top: 10px;
    text-align: right;
}
.changePasswordButtons {
    padding-top: 25px;
    text-align: right;
}
.button 
{
    min-width: 100px;
}
.langSelect {
    position: relative;
}
.currentLanguageWrapper {
    min-width: 500px;
    float: right;
}
.currentLanguage {
    float: right;
    color: #fff;
    border: #fff 1px solid;
    margin-top: 21px;
    margin-right: 30px;
    border-radius: 7px;
    font-size: 12px;
    cursor: pointer;
}
.curFlag {
    width: 23px;
    padding-right: 5px;
    padding-left: 5px;
}
.curLangName {
    padding: 5px 12px 5px 5px;
}
.langList {
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #fff;
    border: #fff 1px solid;
    margin-top: 21px;
    margin-right: 30px;
    border-radius: 7px;
    font-size: 10px;
    width: 250px;
    z-index: 1000;
    border: solid 1px #6d6d6d;
}
ul {
    padding: 0;
    margin: 5px 10px 5px 10px;
}
.langItem {
    text-decoration: none;
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
    border-bottom: dotted 1px #6d6d6d;
    color: #181b1f;
    cursor: pointer;
}
.langItem:last-child {
    border-bottom:none;
}
.langItem:hover {
    background-color: #3f6faf;
    color: #fff;
    border-bottom: dotted 1px #6d6d6d;
}
.supportedFlag {
    width: 25px;
    padding-top: 5px;
}
.supportedLangName {
    padding: 5px 0 5px 10px;
    word-break: break-all;
    word-wrap: break-word;
}
.arrowBorder {
    border-color: transparent transparent #6d6d6d transparent;
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    top: -19px;
    right: 30px;
}
.arrow {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 9px;
    height: 0;
    width: 0;
    position: absolute;
    top: -17px;
    right: 30px;
}

.cleanButton {
    position: absolute;
    display: block;
    top: 0px;
    right: 3px;
    width: 20px;
    height: 20px;
    background: url(/Content/Images/clear_icon.png) no-repeat;
    background-size: 20px;
    cursor: pointer;
}
.title {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 15px;
}
.timeoutMessage {
    color: #002060;
}

.button {
    min-height: 30px;
    background: #85a2c7;
    background: url(/Content/Images/buttonLogin.png) repeat-x;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #102541;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 10px;
}
.k-ie .button {
    border: #85a2c7 1px solid;
}


.k-ie9.k-textbox.k-space-right{
    padding-right:22px
}
.k-ie10.k-textbox.k-space-right{
    padding-right:0
}
.k-ie11.k-textbox.k-space-right{
    padding-right:0
}
.k-ie12.k-textbox.k-space-right{
    padding-right:0
}