/* 404 error in popup window */
.pnError 
{
    vertical-align: middle;
    padding-top: 20px;
}
.pnError h3
{
    text-align: center;
}
.pnError .errorButtonPanel 
{
    display: none;    
}
.t-window-content.t-content .pnError .errorButtonPanel 
{
    display: block;
    text-align: center;    
}
.errorButtonPanel input[type="button"]
{    
    min-width: 70px;    
    margin: 2px;
}