@using eidss.webclient.Utils
@model eidss.model.Reports.KZ.RegionModel


<table id="RegionTable" >
    <tr>
        <td class="medium">
            @Html.LabelFor(m => m.RegionId)
        </td>
        <td class="large">
            @{
                @(Html.Telerik().ComboBox()
                      .Name("RegionFilter.RegionId")
                      .BindTo(Model.RegionList.ConvertToSelectListItem())
                      .HtmlAttributes(new {@class = "requiredField"})
                      )
            }
        </td>
        <td></td>
    </tr>
</table>