@model eidss.model.Schema.LabTest
           
@using eidss.webclient.Utils;
@using eidss.model.Schema;
@using eidss.webclient.Areas.FlexForms

<div class="largeTabPanelContent">
    <table>
        <tr>
            <td>
                @Html.ShowFlexibleFormHTML(Model.idfTesting, Model.FFPresenter)
            </td>
        </tr>
    </table> 
</div>
