@{
    ViewBag.Title = @Translator.GetMessageString("titleHumanAggregateSummaryTitle"); 
    ViewBag.FormCode = "H08";
    Layout = "~/Views/Shared/_AggregateSummaryLayout.cshtml";    
}
@using eidss.webclient.Utils;

<div>
    @using (Html.BeginForm())
    {
        @Html.Action("AggregateSummaryHeader", "CommonAggregate", new { caseType = eidss.model.Enums.AggregateCaseType.HumanAggregateCase })
        <table class="bordered">
            <tr>
                <td class="sectionName">
                    @Translator.GetMessageString("titleSummaryInfo") 
                </td>
            </tr>            
        </table>     
        <div class="ffSummaryInfo" id="divFfSummary">
                    
        </div>        
    }
</div>
