@model eidss.model.Schema.HumanAggregateCase
@{
    ViewBag.Title = Translator.GetMessageString("titleHumanAggregateCaseTitle");
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
    
}
@using eidss.webclient.Utils;

<script type="text/javascript">
    $(window).load(function () {
        if ($("#ErrorMessage").val()) {
            $("#ShowHumanAggregateCaseReportClick").val('');
        }
        if ($("#ShowHumanAggregateCaseReportClick") && $("#ShowHumanAggregateCaseReportClick").val() == '1') {
            var lang = GetSiteLanguage();
            var url = "/" + lang + "/HumanAggregateCase/HumanAggregateCaseReport";
            ShowHumanAggregateCaseReport(url);
        }
    });           
</script>

@using (Html.BeginForm())
{        
    <input id='SaveAndExitClick' name='SaveAndExitClick' type='hidden' value='@ViewData["SaveAndExitClick"]' />   
    <input type="hidden" id="ShowHumanAggregateCaseReportClick" name='ShowHumanAggregateCaseReportClick' value="@ViewBag.ShowHumanAggregateCaseReportClick" />
            
    @Html.IdentificationAndHeartbeat("idfAggrCase", Model.idfAggrCase)   
      
    <div class="detailsWindow largeDetailsWindow">
        @Html.Partial("../HumanAggregateCase/DetailsContent", Model)
    </div>    
}
