@using bv.common.Configuration
@using bv.model.Model.Core
@using eidss.web.common.Utils
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Styles/SearchPanel.css")" rel="stylesheet" type="text/css" />
        
        <script type="text/javascript">
                $(document).ready(function () {
                    $('div[class="t-status"]').hide();
                });
        </script>
    </head>
    <body>
        @if (BaseSettings.TranslationMode){
            <input type="button" class="buttonTranslation" value="@Translator.GetMessageString("btTranslationTool")" onclick="bvTranslation.OpenTranslationWindowForPopup();" />
        }
        <div id="WindowBody">
            @RenderBody()
        </div> 
     </body>
</html>
