<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    <add key="WarnIfResourceEmpty" value="true" />
    
    <add key="SQLUser" value="" />
    <add key="SQLPassword" value="" />
    <add key="SQLDatabase" value="eidss_v6" />
    <add key="SQLServer" value="(local)" />
    
    <add key="AvrVirtualDirectoryName" value="AVR" />
    <add key="MapLocalUrl" value="" />
    <add key="ReportServiceHostURL" value="" />
    <add key="ServiceSystemName" value="" />
    <add key="ServiceDisplayName" value="" />
    
    <add key="ErrorLogPath" value="s" />
    
    <add key="SupportedLanguages" value="en" />
    <add key="DefaultLanguage" value="en" />
      
    <add key="ArchiveConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;" />
    <add key="ArchiveUser" value="" />
    <add key="ArchivePassword" value="" />
    <add key="ArchiveDatabase" value="" />
    <add key="ArchiveServer" value="" />

    -->
  </appSettings>
</configuration>
