@*@model eidss.model.Schema.Address

@using eidss.webclient.Utils;

<table>
    <tr>
        <td>
            @Html.BvEditbox(Model, m => m.strReadOnlyFullName)
        </td>
        <td class="selectButton">
            <input type="button" class="coloredButton" onclick="ShowAddressPicker(@Model.idfGeoLocation);" value=".." />
        </td>
    </tr>
</table>*@