@using eidss.web.common.Utils

<div id="spTogglePanel">
    @Translator.GetMessageString("titleSearchPanel")
    &nbsp;&nbsp;&nbsp;<span class="openArrow">&#x25BC;</span><span class="closeArrow">&#x25B2;</span>
</div>