<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIdentityService">
                  <security mode="TransportWithMessageCredential">
                    <transport clientCredentialType="Basic" />
                    <message clientCredentialType="UserName"/>
                  </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://eservice.e-health.gov.az/EHealthWcf/IdentityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdentityService"
                contract="Azerbaijan.IIdentityService" name="BasicHttpBinding_IIdentityService" />
        </client>
    </system.serviceModel-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIdentityService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="PersonInfoServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://eservice.e-health.gov.az/EHealthWcf/IdentityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdentityService"
                contract="Azerbaijan.IIdentityService" name="BasicHttpBinding_IIdentityService" />
            <endpoint address="http://172.17.8.125:3031/CRA_No_WCF_NCDC/PersonInfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PersonInfoServiceSoap"
                contract="Georgia.PersonInfoServiceSoap" name="PersonInfoServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>