<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3}" />
    <add key="SQLUser" value="" />
    <add key="SQLPassword" value="" />
    <add key="SQLDatabase" value="" />
    <add key="SQLServer" value="" />
    <add key="PollRate" value="15000" />
    <add key="RetryInterval" value="30000" />
    <add key="RetryAttemptsCount" value="4" />
    <add key="EmergencyJobName" value="PACSSTANDALONE-Z-ZNotification-MIKE_SQLEXPRESS2-EIDSS-0" />
    <add key="RoutineJobName" value="PACSSTANDALONE-Z-Z-MIKE_SQLEXPRESS2-EIDSS-0" />
    <add key="ReferenceJobName" value="PACSSTANDALONE-Z-ZReference-MIKE_SQLEXPRESS2-EIDSS-0" />
    <add key="UseDirectDataAccessor" value="true" />
    <add key="DebugOutput" value="true" />
    <add key="DebugDetailLevel" value="11" />
    <add key="DebugLog" value="eidss_ntfy.log" />
    <add key="PingAddress" value="" />
    <add key="PingInterval" value="400" />
    <add key="PingWriteToLog" value="False" />
    <!--
    <add key="SMTPHost" value=""/>
    <add key="SMTPLogin" value=""/>
    <add key="SMTPPassword" value=""/>
    <add key="EMailRecipient" value=""/>
-->
    <add key="FrequencyDays" value="3" />
    <add key="ClientID" value="02adf825-0329-4709-97cf-506912b59e87" />
  </appSettings>
</configuration>