<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;" />
    <add key="SQLUser" value="" />
    <add key="SQLPassword" value="" />
    <add key="SQLDatabase" value="" />
    <add key="SQLServer" value="" />
  </appSettings>
</configuration>